.container2{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 3em;
}

.container {
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  filter: drop-shadow(0 30px 10px rbga(0, 0, 0, 0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50vw;
  padding: 15px;
  box-shadow: 10px 10px 10px rgb(168, 168, 168);
}
.container:hover {
  background-color: rgba(42, 65, 109, 0.25);
  border: 1px solid rgba(255, 255, 255, 0);
  box-shadow: 10px 10px 10px rgb(189, 200, 231);
}



.p {
  font-size: 18px;
  width: 100%;
  color: white;
  background-color: rgba(117, 147, 182, 0.486);
}
.p:hover {
  color: white;
  background-color: rgba(181, 182, 117, 0.486);
}
.h2Name {
  color: rgb(255, 255, 255);
  font-family: OCR A Std, monospace;
}
.h2Name:hover {
  color: rgb(0, 230, 238);
}